<div id="about" class="row">
	<div class="twelve columns">
		<h2>What</h2>
		<p>
			Traces is a proof of concept application intended to be for IOS and prototyped as a web application.
		</p>

		<h2>When</h2>
		<p>
			Write something within a specific location, and it will belong to that location until the post is deleted. Only individuals within a mile radius of the "trace" will be able to view it.
		</p>

		<h2>Why</h2>
		<p>
			The use cases for this application are open ended. Talk about your experience in a place or write a review, the story is up to you.
		</p>
	</div> 
</div>

