<div id="bar" class="row">
  <div class="four columns">
      <a href="about"><img class="logo" src="/imgs/logo2.png"></a>
  </div>
</div>



<div class="row">
  <div id="nav">
    <a href="home"><i class="fa fa-home fa-2x"></i></a>
    <a href="user_posts"><i class="fa fa-book fa-2x"></i></a>
    <a href="account"><i class="fa fa-cog fa-2x"></i></a>
    <a href="logout"><i class="fa fa-sign-out fa-2x"></i></a>
  </div>
</div>
<div class="row">
  <div id="settings" class="three columns">
	<form method='POST' action='/update_account'>
	  <input type="email" placeholder="Email" name="email">
	  <input type="password" placeholder="Password" name="password">
	  <input type="password" required="required" autocomplete="off" placeholder="Confirm Password" name="password_confirmation"/>
	  <input type='submit' value="Update account"> 
	</form>
  </div>
</div>

<hr>
<div class="row">
<form method='POST' action='/delete_account'>
  <input type='submit' value="Delete account"> 
</form>
</div>

