<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>

<div class="row">
  <div class="four columns">
       <a href="about"><img class="logo" src="/imgs/logo2.png"></a>
  </div>
</div>


<div class="row">
  <div id="nav">
	    <a href="home"><i class="fa fa-home fa-2x"></i></a>
	    <a href="user_posts"><i class="fa fa-book fa-2x"></i></a>
	    <a href="account"><i class="fa fa-cog fa-2x"></i></a>
	    <a href="logout"><i class="fa fa-sign-out fa-2x"></i></a>
  </div>
</div>




<div id="home" class="row">
	<div id="post_radius">
        <p><span id="write_something">If no posts appear, be the first to make some!</span></p>
		<div class="three columns offset-by-three">
			<i class="fa fa-spinner fa-pulse fa-3x"></i>
		</div>
	</div>
	<div class="six columns">
	  <form id="post_form" method="POST" action="/post">
		<textarea name="body"></textarea>
		<input id="lat" type="hidden" name="latitude" value="">
		<input id="lon" type="hidden" name="longitude" value="">
		<input type="submit" value="Create Post">
     </form>
   </div>
</div>






