<html>
<head>
	<title></title>
</head>
<body>

<a href="logout">Logout</a>
<a href="home">Home</a>
<a href="account">Account</a>
<a href="/">Welcome</a>
<a href="user_posts">My Posts</a>
    <%=yield %>


</body>
</html>