<div id="bar" class="row">
  <div class="four columns">
       <a href="about"><img class="logo" src="/imgs/logo2.png"></a>
  </div>
</div>



<div class="row">
  <div id="nav">
	    <a href="home">Home</a>
	    <a href="user_posts">My Posts</a>
	    <a href="account">Account</a>
	    <a href="logout">Logout</a>
  </div>
</div>

<span id="posts_header"><h4>Your Post History Will Appear Here:</h4></span>

<% @posts.each do |p| %>
<div id="row">
  <div id="posts_page" class="six columns">
    <div id="user_posts">
	    <br><strong><%= p.body %></strong><br>
	    <form action="/delete_post" method="POST">
		    <!-- 'Name' is params input field and 'value' for hidden
		    button is for post request value -->
		  	<input type="hidden" name="id" value="<%= p.id %>">
		    <input type="submit" value="Delete post">
	    </form>
    </div>
  </div>
</div>
<% end %>


