<div id="top-header">
	
</div>



<!-- <div id="bottom" -->
<form action="/signup" method="POST">
  <label for="email">Email</label>
  <input type="email" required="required" autocomplete="on" name="email"/>
  <label for="password">Password</label>
  <input type="password" required="required" autocomplete="off" name="password"/>
  <input type="submit" value="Sign up"/>
</form>

<hr>

<form action="/signin" method="POST">
  <label for="email">Email</label>
  <input type="email"  autocomplete="on" name="email"/>
  <label for="password">Password</label>
  <input type="password"  autocomplete="off" name="password"/>
  <input type="submit" value="Sign in"/>
</form>
<!-- </div> -->